eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/





spring:
  datasource:
    url: jdbc:mysql://localhost:3306/surya?useSSL=false&serverTimezone=UTC
    username: root
    password: Surya@1998
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true



test:
  input: 1




       
